html{
    background-color: rgb(230, 224, 187);
}

.loginDiv{
    width: 22rem;
    height: 30rem;
    background-color: white;
    border-radius: 15%;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 55%;
}